<div class="border-bottom row" style=margin-bottom:16px;padding-bottom:8px;>
        <div class="col-9">  
          <h4 style="color:rgb(120,120,120); margin-bottom:4px;">
            {{job['title']}}
          </h4>
          {%if'location' in job%}
          <div>
            <b>location:</b>{{job['location']}}
          </div>  
          {%endif%}
        </div>
        <div class="col-2">
          <a href="mailto:seasonablesalt@gmail.com?subject=Application%20for%20{{job['title']}}&body=MY%20NAME%3A%20%3Cinput%20your%20name%20here%3E%0D%0A%0D%0AMY%20RESUME%20LINK%3A%20%3Cinput%20your%20resume%20link%20here%3E%0D%0A%0D%0AMY%20LINKEDIN%20URL%3A%20%3Cinput%20you%20linkedin%20url%20here%3E" type="button" class="btn btn-outline-secondary">Apply</a>
        </div>
      </div>